{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<title>
       Reset Password | Placement 360
</title>
 <style>
.info{
	margin-top:1rem;
}
label{
	font-weight:bolder
}

.btn, .btn:hover {
  color: #88a5b1;
}

.btn-primary, .btn-primary:hover, .btn-info, .btn-info:hover, .btn-success, .btn-success:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-inverse, .btn-inverse:hover {
  color: #fff;
}

.btn {
  font: 18px Helvetica;
  padding: 12px 22px 10px;
  margin: 0;
  border: none;
  border-bottom: 3px #aacedd solid;
  text-decoration: none;
  background-image: -moz-linear-gradient(#ffffff, #f8f8f8);
  background-image: -webkit-linear-gradient(#ffffff, #f8f8f8);
  background-image: linear-gradient(#ffffff, #f8f8f8);
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.btn:active {
  position: relative;
  top: 3px;
  border: none;
}

.btn-primary {
  border-bottom: 3px #000609 solid;
  background-image: -moz-linear-gradient(#0079bb, #005888);
  background-image: -webkit-linear-gradient(#0079bb, #005888);
  background-image: linear-gradient(#0079bb, #005888);
}
.btn-primary:hover {
  background-image: -moz-linear-gradient(#009aee, #005888);
  background-image: -webkit-linear-gradient(#009aee, #005888);
  background-image: linear-gradient(#009aee, #005888);
}

.btn-large {
  font-size: 18px;
  padding: 12px 22px 10px;
}
input[type="text"],
input[type="date"],
input[type="file"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,.form-control  {
    border: 1px solid #0088cc;
    display: block;
    margin: 10px auto;
    padding: 2%;
    width: 100%;
	  color:black
}
textarea{
	   width: 100%;
}
label{
	font-weight:bolder;
	text-transform:Capitalize;
	margin-top:5px
}

</style>   

<h1 class="second"><span>RESET PASSWORD HERE   </span></h1>
<br/><br/>
<div class="form-group">
	<form method="POST">
    {% csrf_token %}
		<p><label for="id_old_password">Old password:</label> <input type="password" name="old_password" class="form-control" required id="id_old_password"></p>
<p><label for="id_new_password1">New Password:</label> <input type="password" name="new_password1" class="form-control" maxlength="100" required id="id_new_password1"></p>
<p><label for="id_new_password2">Confirm Password:</label> <input type="password" name="new_password2" class="form-control" maxlength="100" required id="id_new_password2"></p>
<button class="btn btn-primary">Reset Password</button>
<br/><br/>

     <li class="info"><span style="color: crimson;">*</span> Your password must contain Letters, digits and @/./+/-/_ only.</li>
     <li class="info"><span style="color: crimson;">*</span> Your password must contain at least 8 characters.</li>
     <li class="info"><span style="color: crimson;">*</span> Your password can’t be entirely numeric.</li>

</div>

{% endblock %}