{% extends 'base.html' %}





{% block content %}
<title>
       Hiring-Year | Placement 360
  </title> 
<style>

      /* Design */
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }




      .main{
        max-width: 1200px;
        margin: 0 auto;
      }

      h1 {
          font-size: 24px;
          font-weight: 400;
          text-align: center;
      }

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }

      .btn {
        color: #ffffff;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
      }

      .btn:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .cards_item {
        display: flex;
        padding: 1rem;
      }

      @media (min-width: 40rem) {
        .cards_item {
          width: 50%;
        }
      }

      @media (min-width: 56rem) {
        .cards_item {
          width: 33.3333%;
        }
      }

      .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

      .card_content {
        padding: 1rem;
        background: #606c88;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }

      .card_title {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0px;
      }

      .card_text {
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;    
        font-weight: 400;
      }
      .made_by{
        font-weight: 400;
        font-size: 13px;
        margin-top: 35px;
        text-align: center;
      } 
    a,.dropdown-item{
            color:white;
            text-align:center;
    }
    .btn{
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
    
</style>
<div class="main">
<h1 class="second" style="font-size: 23px;text-align: left;color:black"><span>YEARWISE INTERNSHIP EXPERIENCES</span></h1>
	<br/>
  <ul class="cards">
    <li class="cards_item">
     <div class="card" style="width:20rem">
       
        <div class="card_content">
          <h2 class="card_title"> <h4><a class="dropdown-item" href="/categoryint/2019/">2019</a></h4></h2>
          <hr>
          {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
          <button class="btn card_btn " href="/categoryint/2019/"> <a class="dropdown-item" href="/categoryint/2019/">OPEN</a></button>
        </div>
      </div>
    </li>
    <li class="cards_item">
       <div class="card" style="width:20rem">
        
        <div class="card_content">
          <h2 class="card_title"> <h4><a class="dropdown-item" href="/categoryint/2020/">2020</a></h4></h2><hr>
        {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
         <button class="btn card_btn" href="/categoryint/2020/"> <a class="dropdown-item" href="/categoryint/2020/">OPEN</a></button>
        </div>
      </div>
    </li>
    <li class="cards_item">
       <div class="card" style="width:20rem">
       
        <div class="card_content">
          <h2 class="card_title"> <h4><a class="dropdown-item" href="/categoryint/2021/">2021</a></h4></h2><hr>
          {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
          <button class="btn card_btn" href="/categoryint/2021/"> <a class="dropdown-item" href="/categoryint/2021/">OPEN</a></button>
        </div>
      </div>
    </li>
    <li class="cards_item">
   <div class="card" style="width:20rem">
        
        <div class="card_content">
          <h2 class="card_title"> <h4><a class="dropdown-item" href="/categoryint/2022/">2022</a></h4></h2><hr>
         {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
                 <button class="btn card_btn" href="/categoryint/2022/"> <a class="dropdown-item" href="/categoryint/2022/">OPEN</a></button>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card" style="width:20rem">
        
        <div class="card_content">
          <h2 class="card_title"><h4><a class="dropdown-item" href="/categoryint/2023/">2023</a></h4></h2><hr>
          {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
                         <button class="btn card_btn" href="/categoryint/2023/"> <a class="dropdown-item" href="/categoryint/2023/">OPEN</a></button>

        </div>
      </div>
    </li>
    <li class="cards_item">
       <div class="card" style="width:20rem">
        
        <div class="card_content">
          <h2 class="card_title"> <h4><a class="dropdown-item" href="/categoryint/2024/">2024</a></h4></h2><hr>
         {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
         <button class="btn card_btn" href="/categoryint/2024/"> <a class="dropdown-item" href="/categoryint/2024/">OPEN</a></button>
        </div>
      </div>
    </li>
  </ul>
</div> 
	{% comment %} <h1>Blog Categories</h1>

		{% for item in cat_menu_list_int %}
           <h4><a class="dropdown-item" href="{% url 'categoryint' item|slugify %}">{{ item }}</a></h4>
        
        {% endfor %}  {% endcomment %}


{% endblock %}